<div class="container">
    <h1>Lista de Zapatillas</h1>
    
    <table class="table table-striped" th:if="${null != zapatillas}">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Precio €</th>
                <th>Color</th>
                <th>Talla</th>
                <th>Imagen</th>

            </tr>
        </thead>
        <tbody>
            <!-- Iterar sobre las zapatillas y mostrar cada una -->
            <tr th:each="zapatilla : ${zapatillas}">
                <td th:text="${zapatilla.nombre}"></td>
                <td th:text="${zapatilla.marcas?.nombre}"></td>
                <td th:text="${zapatilla.modelo?.nombre}"></td>
                <td th:text="${zapatilla.precio}"></td>
                <td th:text="${zapatilla.color}"></td>
                <td th:text="${zapatilla.talla}"></td>
                <td>
                    <form action="zapatilla/r" enctype="multipart/form-data">
                        <img th:src="@{'/img/' + ${zapatilla.imagen} + '.png'}" width="300"> 
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <div th:unless="${null != zapatillas}" class="alert alert-warning">
        <span>NO HAY NINGUN PRODUCTO EN EL CARRITO</span>
    </div>
    <th:block th:if="${null != zapatillas}">
        <div class="row justify-content-around">
            <div class="col-3">
                <button type="button" class="btn btn-success" onclick="finalizarCompra()">
                    <span>Finalizar compra</span>
                </button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-danger" onclick="cancelarCompra()">
                    <span>Cancelar compra</span>
                </button>
            </div>
        </div>
    </th:block>
    
    <script>

        const BASE_URL = window.location.origin;
        const API_URL = `${BASE_URL}/api/carritos`;

        function finalizarCompra() {

            const xhttp = new XMLHttpRequest();
            xhttp.open('GET', `${API_URL}/finalize`, true)
            xhttp.send();

            xhttp.onload = function () {

                if ([200, 201].includes(xhttp.status)) {
                    alert("Compra finalizada correctamente");
                    window.location.href = `${BASE_URL}/catalogue`;
                } else {
                    alert("Error al finalizar la compra");
                }
            }
        }

        function cancelarCompra() {

        const xhttp = new XMLHttpRequest();
        xhttp.open('GET', `${API_URL}/cancel`, true)
        xhttp.send();

        xhttp.onload = function () {
        
            if ([200, 201].includes(xhttp.status)) {
                alert("Compra cancelada");
                window.location.href = `${BASE_URL}/catalogue`;
            } else {
                alert(xhttp.error);
            }
        }
}
    </script>
</div>
