<header class="p-3 text-bg-dark">
  <div class="container header-container">
    <div class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-start">
      <div class="col-lg-auto me-lg-auto mb-2 justify-content-start mb-md-0">
        <div class="d-flex align-items-center">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="/img/logoP.png" alt="" width="100px" height="100px" style="margin-left: -100px;">
            <svg class="bi me-2" width="50" height="50" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
          </a>        

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="margin-left: -60px;">
            <li><a href="/" class="nav-link px-2 text-secondary">Ibertrade</a></li>
            <li><a href="/news" class="nav-link px-2 text-white">Noticias</a></li>
            <li><a href="/catalogue" class="nav-link px-2 text-white">Catálogo</a></li>
            <li><a href="/vipzone" class="nav-link px-2 text-white">Zona Vip</a></li>
            <li th:if="${session.usuario != null and session.usuario.admin}" ><a href="/admin" class="nav-link px-2 text-white">Admin</a></li>
          </ul>
        </div>
      </div>

      <div class="text-end col-lg-auto mb-2 justify-content-end mb-md-0" style="margin-left: 280px;">
        <span class="text-secondary" th:if="${session.usuario!=null}" th:text="|Hi ${session.usuario.nombre} /   |"></span>
        <a th:if="${session.usuario!=null}" href="/logout">Cerrar Sesión</a>
        <button type="button" class="btn btn-outline-light me-2" th:if="${session.usuario==null}" style="margin-right: 40px;" onclick="window.location.href='/login'">Iniciar Sesión</button>
        <button type="button" class="btn btn-warning" th:if="${session.usuario==null}" onclick="window.location.href='/signup'">Registrarse</button>
      </div>    
    </div>
  </div>
</header>
