<div class="b-example-divider"></div>
<div class="container">
    <button class="btn btn-outline-primary" onclick="window.location.href='/marca/c'">Añadir Marca</button>
    <h1>Lista de Marcas</h1>
    <table class="table table-striped">
        <thead>
            <th>Nombre</th>
            <th>Editar</th>
            <th>Borrar</th>
        </thead>

        <tr th:each="marca : ${marcas}">
            
            <td th:text="${marca.nombre}" />
            
            <td>
                <button th:onclick="|window.location.href='/marca/u?id=${marca.id}'|">
                    <img src="/img/lapiz.png" height="20" width="20">
                </button>
            </td>

            <td>
                <form action="/marca/d" method="post">
                    <input type="hidden" name="id" th:value="${marca.id}">
                    <input alt="basura" type="image" src="/img/basura.png" height="20" width="20"/>
                </form>
            </td>
        </tr>
    </table>
</div>