<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="50" height="50" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
          <img src="/img/logoP.png" alt="" width="100px" height="100px" style="margin-left: 30px;">
        </a>        

<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
  <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
  <li><a href="#" class="nav-link px-2 text-white">News</a></li>
  <li><a href="#" class="nav-link px-2 text-white">Catalogue</a></li>
  <li><a href="#" class="nav-link px-2 text-white">Price comparison</a></li>
  <li><a href="#" class="nav-link px-2 text-white">VIP Zone</a></li>
</ul>

        <div class="text-end col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

          <span class="text-secondary" th:if="${session.usuario!=null}" th:text="|Hola ${session.usuario.nombre} /   |"/>
	        <a th:if="${session.usuario!=null}" href="/logout">LOGOUT</a>
          
          <button type="button" class="btn btn-outline-light me-2" th:if="${session.usuario==null}" onclick="window.location.href='/login'">Login</button>
          <button type="button" class="btn btn-warning" onclick="window.location.href='/Registro'">Sign up</button>
        </div>
      </div>
    </div>
  </header>