<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <title>Bienvenido</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" /-->
</head>

<body>
    <p>Querido Socio: <span th:text="${usuario.nombre}"></span></p>
    <p>Bienvenido a la familia Ibertrade</p>
    <p>
        Estamos encantados de verte por primera vez en nuestra casa, si estas mas inetresado en obtener descuentos y ventajas,
        te animamos a que te suscribas a nuestra familia de manera VIP, por un comodo y economico precio disfrutaras del autentico mundo de las Sneakers,
        como dios manda... ;D
    </p>
</body>

</html>