<div class="container d-flex justify-content-center align-items-center" style="height: 60vh;">
    <main class="form-signin">
        <form action="/signup" method="post">
            <img class="mb-4" src="/img/logoP.png" alt="" width="100" height="100">
            <h1 class="h3 mb-3 fw-normal">Registro Usuarios</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="id-nombre" placeholder="Nombre" name="nombre">
                <label for="id-nombre">Nombre</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="id-dni" placeholder="Dni" name="dni">
                <label for="id-dni">Dni</label>
            </div>

            <div class="form-floating">
                <input type="email" class="form-control" id="id-mail" placeholder="Correo electrónico" name="mail">
                <label for="id-mail">Correo electrónico</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="id-contraseña" placeholder="Contraseña" name="contraseña">
                <label for="id-contraseña">Contraseña</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary btn-sm" type="submit">Registrarse</button>
            <button class="w-100 btn btn-lg btn-secondary btn-sm" onclick="window.location.href='/'; return false;">Cancelar</button>

            <p class="mt-5 mb-3 text-body-secondary" style="width: 40vh;">&copy; 2017–2024</p>
        </form>
    </main>
</div>
