<div class="container">
    <button class="btn btn-outline-primary" onclick="window.location.href='/zapatilla/c'">Añadir Zapatilla</button>
    <h1>Lista de Zapatillas</h1>
    <table class="table table-striped">
        <thead>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Precio €</th>
            <th>Color</th>
            <th>Talla</th>
            <th>Stock</th>
            <th>Editar</th>
            <th>Borrar</th>
        </thead>

        <tr th:each="zapatilla : ${zapatillas}">
            
            <td th:text="${zapatilla.nombre}" />

            <td th:text="|${zapatilla.marcas?.nombre}"/>

            <td th:text="|${zapatilla.modelo?.nombre}"/>

            <td th:text="${zapatilla.precio}" />
            
            <td th:text="${zapatilla.color}" />
            
            <td th:text="${zapatilla.talla}" />

            <td th:text="${zapatilla.stock}" />            

            <td>
                <button th:onclick="|window.location.href='/zapatilla/u?id=${zapatilla.id}'|">
                    <img src="/img/lapiz.png" height="20" width="20">
                </button>
            </td>

            <td>
                <form action="/zapatilla/d" method="post">
                    <input type="hidden" name="id" th:value="${zapatilla.id}">
                    <input alt="basura" type="image" src="/img/basura.png" height="20" width="20"/>
                </form>
            </td>
        </tr>
    </table>
</div>