<div class="b-example-divider"></div>
<div class="container text-center">
  <h3 class="text-primary fw-bold">FAQ</h3>
  <p class="mb-5">Find the answers for the most frequently asked questions below</p>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon icon-tabler icon-tabler-mail" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><rect x="3" y="5" width="18" height="14" rx="2" /><polyline points="3 7 12 13 21 7" /></svg> A simple question?</h6>
      <p><strong><u>Absolutely!</u></strong> We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner.</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon icon-tabler icon-tabler-edit" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M20 4.586l-2.586 -2.586a2 2 0 0 0 -2.828 0l-12 12a2 2 0 0 0 0 2.828l2.586 2.586a2 2 0 0 0 2.828 0l12 -12a2 2 0 0 0 0 -2.828" /><path d="M16 4l4 4" /><path d="M12 8l8 8" /></svg> A question that is longer than the previous one?</h6>
      <p><strong><u>Yes, it is possible!</u></strong> You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month.</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon icon-tabler icon-tabler-user" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><circle cx="12" cy="7" r="4" /><path d="M6 21v-1a3.5 3.5 0 0 1 3.5 -3.5" /><path d="M17 21v-1a3.5 3.5 0 0 0 -3.5 -3.5" /></svg> A simple question?</h6>
      <p>Currently, we only offer monthly subscription. You can upgrade or cancel your monthly account at any time with no further obligation.</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon icon-tabler icon-tabler-rocket" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M14.5 3l-11 11h6a3 3 0 0 0 3 -3v-6zm-6.5 14l3 3v-6l-8 -2l2 8h-1v2h2" /><path d="M20 14l-2 2l-1.5 -1.5" /><line x1="14" y1="20" x2="15.5" y2="21.5" /><path d="M16 5a2.5 2.5 0 0 1 2.5 2.5" /></svg> A simple question?</h6>
      <p>Yes. Go to the billing section of your dashboard and update your payment information.</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon icon-tabler icon-tabler-home" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a1 1 0 0 0 1 1h6v-6" /><path d="M12 19v3h6a1 1 0 0 0 1 -1v-7" /><path d="M12 19v3h6a1 1 0 0 0 1 -1" /></svg> A simple question?</h6>
      <p><strong><u>Unfortunately no</u>.</strong> We do not issue full or partial refunds for any reason.</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon icon-tabler icon-tabler-book-open" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M14 4v16a2 2 0 0 1 -2 2H6a2 2 0 0 1 -2 -2V4a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2z" /><path d="M14 4a2 2 0 0 1 2 2v12" /><path d="M8 4a2 2 0 0 0 -2 2v12" /></svg> Another question that is longer than usual</h6>
      <p>Of course! We’re happy to offer a free plan to anyone who wants to try our service.</p>
    </div>
  </div>
</div>
