<div class="container">
    <button class="btn btn-outline-primary" onclick="window.location.href='/modelo/c'">Añadir Modelo</button>
    <h1>Lista de Modelos</h1>
    <table class="table table-striped">
        <thead>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Editar</th>
            <th>Borrar</th>
        </thead>

        <tr th:each="modelo : ${modelos}">
            
            <td th:text="${modelo.nombre}" />
            <td th:text="${modelo.marcas.nombre}" />
            <td>
                <button th:onclick="|window.location.href='/modelo/u?id=${modelo.id}'|">
                    <img src="/img/lapiz.png" height="20" width="20">
                </button>
            </td>

            <td>
                <form action="/modelo/d" method="post">
                    <input type="hidden" name="id" th:value="${modelo.id}">
                    <input alt="basura" type="image" src="/img/basura.png" height="20" width="20"/>
                </form>
            </td>
        </tr>
    </table>
</div>