<div class="container">

    <h1>Nuevo Pedido</h1>

    <form action="/pedido/c" method="post">

        <label for="id-numPedido">Nº Pedido</label>
        <input id="id-numPedido" type="text" name="numPedido" />
        <br />

        <!--<label for="id-precio">Precio</label>
        <input id="id-precio" type="number" name="precio" />
        <br />-->
        
        </fieldset>

        <input type="submit" />
    </form>
    <button onclick="window.location.href='/'">Cancelar</button>
</div>