<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>
  #clickme {
    cursor: pointer
  }
  .form-control {
      position: relative;
      width: 100%;
      padding-right: 40px;
  }

  .toggle-password {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
  }
</style>
<div class="b-example-divider"></div>

<div class="container d-flex justify-content-center align-items-center vh-20">
  <main class="form-signin bg-body rounded shadow-sm">
    <form action="/signup" method="post" id="registro-form">
      <img class="mb-4" src="/img/logoP.png" alt="" width="100" height="100">
      <h3 class="mb-3">Registro de Usuarios</h3>

      <div class="mb-3">
        <input type="text" class="form-control" id="id-nombre" placeholder="Nombre" name="nombre">
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" id="id-dni" placeholder="Dni: 45632147-X" name="dni">
      </div>

      <div class="mb-3">
        <input type="email" class="form-control" id="id-mail" placeholder="Correo electrónico" name="mail">
      </div>

      <div class="mb-3 position-relative">
        <input type="password" class="form-control" id="id-contraseña" placeholder="Contraseña" name="contraseña">
        <svg class="toggle-password" id="clickme" width="28" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
          <path d="M569.354 231.631C512.97 135.949 407.81 72 288 72 168.14 72 63.004 135.994 6.646 231.631a47.999 47.999 0 0 0 0 48.739C63.031 376.051 168.19 440 288 440c119.86 0 224.996-63.994 281.354-159.631a47.997 47.997 0 0 0 0-48.738zM288 392c-102.556 0-192.091-54.701-240-136 44.157-74.933 123.677-127.27 216.162-135.007C273.958 131.078 280 144.83 280 160c0 30.928-25.072 56-56 56s-56-25.072-56-56l.001-.042C157.794 179.043 152 200.844 152 224c0 75.111 60.889 136 136 136s136-60.889 136-136c0-31.031-10.4-59.629-27.895-82.515C451.704 164.638 498.009 205.106 528 256c-47.908 81.299-137.444 136-240 136z"/>
        </svg>
        <!-- <small id="contraseñaHelp" class="form-text text-muted">La contraseña debe tener al menos 8 caracteres, incluyendo al menos una letra mayúscula, una letra minúscula, un número y un carácter especial.</small> -->
      </div>
      <small id="contraseñaHelp" class="form-text text-muted">La contraseña debe tener al menos 8 caracteres, incluyendo al menos una letra mayúscula, una letra minúscula, un número y un carácter especial.</small> 
      <br><br>
      <div class="row justify-content-between">
        <div class="col-5">
          <button class="w-100 btn btn-lg btn-primary btn-sm" type="submit">Registrarse</button>
        </div>
        <div class="col-5">
          <button class="w-100 btn btn-lg btn-secondary btn-sm" onclick="window.location.href='/'; return false;">Cancelar</button>
        </div>
      </div>

      <p class="mt-5 mb-3 text-body-secondary" style="width: 40vh;">&copy; 2017–2024</p>
    </form>
  </main>
</div>
<script>
  const togglePassword = document.querySelector('.toggle-password');
      const passwordField = document.querySelector('#id-contraseña');

      togglePassword.addEventListener('click', function () {
          const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
          passwordField.setAttribute('type', type);
      });
</script>

<script>
  // Función para validar el formulario
  function validarFormulario(event) {
    // Evitar que el formulario se envíe automáticamente
    event.preventDefault();
    
    // Obtener los valores de los campos
    var nombre = document.getElementById('id-nombre').value;
    var dni = document.getElementById('id-dni').value;
    var mail = document.getElementById('id-mail').value;
    var contraseña = document.getElementById('id-contraseña').value;

    // Validar que los campos no estén vacíos
    if (nombre.trim() === '') {
      swal('Por favor, ingrese su nombre.');
      return;
    }
    if (dni.trim() === '') {
      swal('Por favor, ingrese su DNI.');
      return;
    }
    if (mail.trim() === '') {
      swal('Por favor, ingrese su correo electrónico.');
      return;
    }

    //Minimo 2 Caracteres, Maximo 20. puede contener MAYUSCULAS, MINUSCULAS Y NUMEROS
    var nombreRegex = /^(([A-Z]|[a-z]|[ÑÇÁÉÍÓÚñçáéíóú]|[0-9])-?\s?){2,20}$/;
    if (!nombreRegex.test(nombre)) {
      swal('Por favor, ingrese un nombre válido.');
      return;
    }

    // El DNI debe de estar formado por 8 caracteres que estén entre el 0 y el 9, seguidos por un guión "-" y acabados con una letra mayúscula.
    var dniRegex = /(^([0-9]{8,8}\-[A-Z])|^)$/;
    if (!dniRegex.test(dni)) {
      swal('Por favor, ingrese un dni válido.');
      return;
    }

    // Validar estructura de correo electrónico
    var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!emailRegex.test(mail)) {
      swal('Por favor, ingrese un correo electrónico válido.');
      return;
    }

    // Validar requisitos mínimos de contraseña
    var contraseñaRegex =/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}/;
    if (!contraseñaRegex.test(contraseña)) {
      swal('La contraseña debe tener al menos 8 caracteres, incluyendo al menos una letra mayúscula, una letra minúscula, un número y un carácter especial.');
      return;
    }

    // Si todos los campos están llenos y las validaciones pasaron, enviar el formulario
    document.getElementById('registro-form').submit();
  }

  // Agregar el evento de escucha al formulario
  document.getElementById('registro-form').addEventListener('submit', validarFormulario);
</script>

