<div class="container">
  
    <h1>Registro Usuarios</h1>

    <form action="/Registro" method="post">

        <label for="id-nombre">Nombre</label>
        <input id="id-nombre" type="text" name="nombre"/>
        <br/>

        <label for="id-dni">Dni</label>
        <input id="id-dni" type="text" name="dni"/>
        <br/>

        <label for="id-mail">Correo electrónico</label> <!-- Agregado -->
        <input id="id-mail" type="email" name="mail"/> <!-- Agregado -->
        <br/>

        <label for="id-contraseña">Contraseña</label> <!-- Agregado -->
        <input id="id-contraseña" type="password" name="contraseña"/> <!-- Agregado -->
        <br/>

        <br><br>

        <input type="submit">
        <button onclick="window.location.href='/'">Cancelar</button>
    </form>
</div>