<div class="container">
    <button class="btn btn-outline-primary" onclick="window.location.href='/pedido/c'">Añadir Pedido</button>
    <h1>Listado de Pedidos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nº Pedido</th>
                <th>Fecha Pedido</th>
                <th>Nombre Zapatilla</th>
                <th>Modelo Zapatilla</th>
                <th>Marca Zapatilla</th>
                <th>color</th>
                <th>talla</th>
                <th>Imagen</th>
                <th>Precio Unidad (€)</th>
                <th> Unidad </th>
                <th>Precio total (€)</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pedido : ${pedidos}">
                <td th:text="${pedido.numPedido}"></td>
                <td th:text="${pedido.fechCompra}"></td>
                <td th:text="${pedido.nombreZapatilla}"></td>
                <td th:text="${pedido.modeloZapatilla}"></td>
                <td th:text="${pedido.marcaZapatilla}"></td>
                <td th:text="${pedido.color}"></td>
                <td th:text="${pedido.talla}"></td>
                <td>
                    <form action="zapatilla/r" enctype="multipart/form-data">
                        <img th:src="@{'/img/' + ${pedido.imagen} + '.png'}" width="300"> 
                    </form>
                </td>
                <td th:text="${pedido.precioUnidad}"></td>
                <td th:text="${pedido.stock}"></td>
                <td th:text="${pedido.precioTotal}"></td>
               
                <td>
                    <button th:onclick="|window.location.href='/pedido/u?id=${pedido.id}'|">
                        <img src="/img/lapiz.png" height="20" width="20">
                    </button>
                </td>
                <td>
                    <form action="/pedido/d" method="post">
                        <input type="hidden" name="id" th:value="${pedido.id}">
                        <input alt="basura" type="image" src="/img/basura.png" height="20" width="20"/>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="totales">
        <p><strong>Cantidad Total de Pedidos: </strong><span th:text="${cantidadTotal}"></span></p>
       
    </div>
</div>
