<div class="b-example-divider"></div>

<div class="container">
    <div class="form-container">
        <main class="form-signin">
            <form action="/login" method="post">
                <img class="mb-4" src="/img/logoP.png" alt="" width="100" height="100">
                <h3 class="mb-3">Introduce tus credenciales</h3>

                <div class="form-floating">
                    <input type="text" class="form-control" id="id-nombre" placeholder="Nombre Usuario" name="nombre">
                    <label for="id-nombre">Nombre Usuario</label>
                </div>
                
                <div class="form-floating">
                    <input type="password" class="form-control" id="id-contraseña" placeholder="Contraseña" name="contraseña">
                    <label for="id-contraseña">Contraseña</label>
                </div>

                <button class="btn btn-primary w-100 py-2" type="submit">Iniciar sesión</button>
                <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
            </form>
        </main>
    </div>
</div>